version: 2.1

jobs:
  init:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run: node --version

  deploy:
    steps:
      - run: echo docker

workflows:
  ci-ci-guihon-front:
    jobs:
      - init
      - deploy:
          requires:
            - init
