version: 2

jobs:
  Init:
    commands:
      steps:
        - run:
          name: Install Dependencies
          command: |
            sudo apt update
            apt install python
            pip install ansible

  Setup:
    commands:
      steps:
      - run:
        name: Config ENV
        command: |
          ansible-plabook ./infrastructure/init.yml

  Test:
    commands:
      steps:
      - run:
        name: Run Test Unit
        command: |
          ansible-plabook ./infrastructure/test.yml

  Build:
    commands:
      steps:
      - run:
        name: Build Artefact
        command: |
          ansible-plabook ./infrastructure/build.yml

  Deploy:
    commands:
      steps:
      - run:
        name: Deploy Artefact
        command: |
          ansible-plabook ./infrastructure/deploy.yml

  Infra:
    commands:
      steps:
      - run:
        name: Settings network
        command: |
          ansible-plabook ./infrastructure/network.yml

workflows:
  version: 2
  pipeline:
    jobs:
      - Env
      - Setup
      - Test
      - Build
      - Deploy
      - Infra
