version: 2.1

jobs:
  init:
    docker:
      - image: python:latest
    steps:
      - checkout
      - run: pip install ansible
      - run: apt update
      - run: apt install sshpass
      - run: ansible-playbook ./infrastructure/init.yml
      - run: ansible-playbook ./infrastructure/test.yml
      - run: ansible-playbook ./infrastructure/build.yml
      - run: ansible-playbook ./infrastructure/deploy.yml
      - run: ansible-playbook ./infrastructure/network.yml

workflows:
  ci-ci-guihon-front:
    jobs:
      - init
