---
- name: Delete existant project
  shell:
    cmd: "rm -rf *"
    chdir: "{{ app_destination }}"

- name: Get project from git
  git:
    repo: "{{ app_repository }}"
    dest: "{{ app_destination }}"
    clone: true
    force: true

- name: Install dependancies
  shell:
    cmd: npm install
    chdir: "{{ app_destination }}"
...
