.galery-container{
  .galery-container-header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.img-item{
  position: relative;
  .title{
    font-size: 14px;
    color: #1D2424;
    display: block !important;
  }
  .deleteBtn{
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}